@model SocialNetwork_final.ViewModels.Account.SearchViewModel;

<div>
    @if(Model.UserList.Count == 0)
    {
        <p>Поиск не дал результатов</p>
    }
    else
    {
        @foreach (var user in Model.UserList)
        {
            <div class="UserList">
                <form class="formFriend" asp-controller="AccountManager" asp-action="AddFriend" method="post">
                    <label>@user.GetFullName()</label>
                    <input style="display:none" type="text" value="@user.Email" name="friendEmail" />
                    <button class="buttons" type="submit">Добавить в друзья</button>
                </form>
            </div>
            <br />
        }
    }
</div>
