.main {
    -ms-flex: 60%;
    flex: 60%;
    padding: 25px;
    position:absolute;
    right:0;
}

.side {
    display: inline-flex;
    -ms-flex: 60%; 
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color:#edeef0;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.background-main{
    background-color: #edeef0;
}
.background-white {
    background-color: white;
}
.main-img{
    width:70%;
    height:70%;
    
}
#hello{
    color: darkgoldenrod;
    text-align:center;
}

#frm {
    text-align: center;
    width: max-content;
}