@model SocialNetwork_final.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<form class="frmLogin" method="post" asp-controller="AccountManager" asp-action="Login">
    <h2>Вход</h2>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input id="inputStyle" asp-for="Email" placeholder="ivan@gmail.com" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input id="inputStyle" asp-for="Password" placeholder="Grlk234!" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input type="checkbox" asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>

    <div>
        <input id="buttonFormLogin" type="submit" value="Вход" />
    </div>
</form>