@{
    ViewData["Title"] = "Главная";
}
<div class="row">
    <div class="center">
        <h2 id="hello">*Вжух* Присоединяйся к нам. В лучшую социальную сеть! *Вжух*</h2>
    </div>
    <div class="side">
        <img class="main-img"
             src="https://pngimg.com/uploads/wizard/wizard_PNG4.png" />
    </div>
    <div class="main">
        <partial name="Login" />
        <partial name="Register" />
    </div>
</div>